
@media (max-width: 370px) {
  html {
    min-width: 237px;
  }
  header h2 {
    font-size: 2vw;;
    line-height: 2vw;;
  }
  .container_2 h2 {
    padding: 2vw;
    font-size: 2vw;;
  }
  .certyfikat {
    width: 80vw;
  }
}

