
@media(max-width:1306px){
html{
    min-width: 661px;
}
.posylania {
  flex-direction: column;
  flex-wrap: wrap;
}
.posylania a {
  font-size: 30px;
}
.container{
  display: flex;
  flex-direction: column-reverse;
  padding: 15px;
 }
.pusto{
  /* width: 100%; */
  height: 420px;
  flex-grow: 1;
}
.vitania{
    justify-content: center;
    align-items: center;
}
}