
@media(max-width:1000px){
html{
    min-width: 337px;
}
header{
  padding-inline: 15px;
}

.logohead {
  width: 88px;
}
.posylania {
  flex-direction: column;
  flex-wrap: wrap;
}
.posylania a {
  font-size: 30px;
}
.container{
  display: flex;
  flex-direction: column-reverse;
  padding: 15px;
 }
.pusto{
 /* height: 100%; */
  height: 220px;
  flex-grow: 1;
}
.vitania{
  display: flex;
    justify-content: center;
    align-items: center;
}

h1{
  width: 100%;
  padding: 15px;
}
.container p {
 width: 100%;
}
.certyfikaty img {
  padding: 0 15px 15px 15px;
}

footer{
  flex-direction: column;
  margin-inline: auto;
}
footer .logonazw {
padding: 15px;
}
.kontakty{
 padding: 15px;
}
}