@media (max-width: 1690px) {
  html {
    min-width: 1091px;
  }
  .container {
    padding-block: 15px;
  }
  .vitania {
    flex-grow: 2;
  }
}

/* ?????????????????????????????????????????????????????????? */

@media (max-width: 1090px) {
  html {
    min-width: 971px;
  }
  header {
    padding-inline: 15px;
  }

  .logohead {
    width: 88px;
  }
  .posylania {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .posylania a {
    font-size: 30px;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
  }
  .pusto {
    height: 720px;
    flex-grow: 1;
  }
  .vitania {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    width: 100%;
    padding: 15px;
  }
  .container p {
    width: 100%;
  }
  .certyfikaty img {
    padding: 0 15px 15px 15px;
  }
  footer {
    flex-direction: column;
    margin-inline: auto;
  }
  footer .logonazw {
    padding: 15px;
  }
  .kontakty {
    padding: 15px;
  }
}

/* ?????????????????????????????????????????????????????????? */

@media (max-width: 970px) {
  html {
    min-width: 871px;
  }
  .pusto {
    height: 620px;
  }
}
/* ?????????????????????????????????????????????????????????? */

@media (max-width: 870px) {
  html {
    min-width: 771px;
  }
  .pusto {
    height: 550px;
  }
}
/* ?????????????????????????????????????????????????????????? */

@media (max-width: 770px) {
  html {
    min-width: 671px;
  }
  .pusto {
    height: 470px;
  }
}
/* ?????????????????????????????????????????????????????????? */

@media (max-width: 670px) {
  html {
    min-width: 571px;
  }
  .pusto {
    height: 400px;
  }
}
/* ?????????????????????????????????????????????????????????? */

@media (max-width: 570px) {
  html {
    min-width: 471px;
  }
  .pusto {
    height: 350px;
  }
}
/* ?????????????????????????????????????????????????????????? */

@media (max-width: 470px) {
  html {
    min-width: 371px;
  }
  .pusto {
    height: 290px;
  }
}
/* ?????????????????????????????????????????????????????????? */
@media (max-width: 370px) {
  html {
    min-width: 237px;
  }
  header h2 {
    font-size: 25px;
    line-height: 30px;
  }
    .pusto {
    height: 210px;
  }
  .container_2 h2 {
    padding: 20px;
    font-size: 40px;
  }
  .certyfikat {
    width: 330px;
    min-height: 150px;
  }
}

