
@media (max-width: 1024px) {
  html {
    min-width: 768px;
  }
  header h2{
font-size: 3vw;
  }
  header .posylania a{
font-size: 3vw;
  }
  h1{
    font-size: 3.5vw;
    line-height: 3vw;
    padding-block-end: 1vw;
  }
  .container p{
font-size: 2.5vw;
  }
  .container_2 h2{
font-size: 6vw;
padding-block:3vw ;
  }
  footer h2{
font-size: 3vw;
  }
  footer p{
font-size: 3vw;
  }
}



@media (max-width: 767px) {
  html {
    min-width: 237px;
  }
    header h2, footer h2{
font-size: 4vw;
  }
  .logohead{
    width: 10vw;
  }
  header .posylania a{
font-size: 4vw;
line-height: 4vw;
  }
  header .posylania{
flex-direction: column;
  }
  .pusto{
    height: 65vw;
  }
  .container{
  padding-block-start: 1vw;
  flex-direction: column-reverse;
}
h1{
  font-size: 8vw;
line-height: 7vw;
}
.container p{
  font-size: 6vw;
line-height: 5vw;
}
  .container_2 h2 {
    padding: 5vw;
    font-size: 7vw;
  }
  .certyfikat {
    width: 80vw;
  }
  .logofooter{
    width: 8vw;
  }
  footer p{
font-size:4vw;
line-height: 3.5vw;
  }
}

