* {
  margin: 0;
}
body {
  margin: 0;
  margin-inline: auto;
  min-height: 100%;
  background: #312c2c;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
header {
  position: fixed;
  width: 100%;
  margin: 0;
  background: #a59e9e;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
<<<<<<< HEAD
  padding-inline: 3.514vw;
  padding-block: 0.659vw;
=======
  padding-inline: 2vw;
  padding-block: 0.5vw;
  /* margin-bottom: 2vw; */
>>>>>>> 3efca6bb5e61bd5a72371394b09bfc44d4f3685c
}
.logonazw {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.logohead {
  width: 4.26vw;
}
header h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 2.196vw;
  line-height: 2.709vw;
  color: #000000;
}
.posylania {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 2;
}
.posylania a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 2.196vw;
  line-height: 2.709vw;
  color: #000000;
}
.posylania a:hover {
  color: #f80606;
}

#menuToggle {
  display: none;
}

/* main ////////////////////////////////////////*/
<<<<<<< HEAD
/* main{
  padding-block-start: 15vw;
  height: 100%;
} */
.container {
  background-image: url(./golovna/Group\ 38.png);
=======
main{
  padding-top: 5vw;
  /* min-height: 200vh; */
  height: 100%;
}
.container{
  /* margin-top:15vw ;
  padding-top: 50vh; */
  background-image: url(./ikons/Group\ 38.png);
>>>>>>> 3efca6bb5e61bd5a72371394b09bfc44d4f3685c
  background-repeat: no-repeat;
  /* background-position: left 104.7% top -175%; */
  background-position-y:  4vw ;
  background-position-x:  106%;
  background-size: contain;
  /* padding-block: 6vw; */
  display: flex;
  padding-inline-start: 3.514vw;
  padding-block-start: 9.59vw;
  z-index: 50;
}
.vitania {
  /* width: 40.264vw; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: auto;
  align-content: center;
}
.pusto {
  width: 100%;
  /* height: 100%; */
  flex-grow: 1;
}

h1 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 2.489vw;
line-height: 3.660vw;
color: #D9D9D9;
margin-block-end: 4.316vw;
width: 55.344vw;

}
.container p {
  width: 40.264vw;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 1.464vw;
/* font-size: 20px; */
line-height: 2.196vw;
text-align: justify;
color: #FFFFFF;


}

hr {
  border: none;
  background-color: #BE4648;
  height: 5px;
  margin-block: 3vw;
  /* z-index: 9; */
}

h2 {
  display: flex;
  justify-content: center;
  padding: 1vw;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  line-height: 2vw;
  color: #000000;
}
.container_2 h2 {
  padding: 2vw;
  font-weight: 700;
  font-size: 3vw;
  line-height: 3vw;
}
.container_2 {
  min-height: 25vw;
  background: #d8d8d8;
}
.certyfikaty {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.certyfikaty img {
  padding: 0 2vw 2vw 2vw;
}
.certyfikat {
  width: 25vw;
  /* min-height: 150px; */
}
/* footer//////////////////////////////////////// */
footer {
  min-height: vw;
  background-color: #979797;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .logonazw {
  display: flex;
  flex-grow: 0;
}
.logofooter {
  width: 5vw;
}
.kontakty {
  color: #000000;
  /* padding-right: 150px; */
  font-size: 2vw;
  /* line-height: 1vw; */
  padding-block: 1vw;
}
.tel {
  display: flex;
  /* margin: 12px 0; */
  line-height: 1vw;
}
footer .kontakty img {
  width: 2vw;
}
.tel img {
  margin: 0 1vw 0 0;
}
footer a {
  padding-block-end: 1vw;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
<<<<<<< HEAD
  color: #000000;
  /* padding-right: 150px; */
  font-size: 3vw;
  /* line-height: 1vw; */
  padding-block: 1vw;
=======
   color: #000000;
  font-size: 3vw;
  padding-block:1vw ;
>>>>>>> 3efca6bb5e61bd5a72371394b09bfc44d4f3685c
}
footer h2 {
  line-height: 4vw;
}

<<<<<<< HEAD
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
=======


/* .gallery{
  display: flex;
  flex-wrap: wrap;
justify-content: center;
>>>>>>> 3efca6bb5e61bd5a72371394b09bfc44d4f3685c
}
.gallery img {
  padding: 3vw;
}
.gallery img:focus {
  border: #f80606;
  border: 1vw;
  width: 70%;
}
.galh2 {
  padding-block: 10vw;
<<<<<<< HEAD
}
=======
} */
/*---------------------------------------  */
.gallery {
  max-width:90% ;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
/* padding-top: 15vh; */
display: flex;
justify-content: space-around;
/* justify-content: center; */
flex-wrap: wrap;
}
.category{
  width: 26%;
/* height: 100%; */
}
#cat3{
  background-image: url(./img_gal/falczewo.png);
  width: 100%;
  height: 100%;
  background: #000;
}

/* Заголовок категорії */
.category-title {
  display: flex;

  background: #222;
  color: white;
  padding: 12px 18px;
  font-size: 22px;
  cursor: pointer;
  /* border-left: 6px solid red; */
  margin-bottom: 10px;
  /* width: 50%; */
flex-direction: column;
align-items: center;
height: 100%;

}

/* Кучка закрита */
.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}

/* Коли клікнув на категорію */
.category input:checked ~ .photos {
  max-height: 1500px;
}

/* Фото */
.photo {
  position: relative;
  display: block;
  width: 31%;
  cursor: zoom-in;
}

.photo img {
  width: 100%;
  border-radius: 6px;
  transition: transform .3s ease, box-shadow .3s;
}

/* Масштабування фото при кліку */
.photo input:checked + img {
  transform: scale(2.2);
  cursor: zoom-out;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  z-index: 10;
  position: relative;
}

/* Адаптивність */
/* @media(max-width: 600px) {
  .photo { width: 48%; }
}

@media(max-width: 400px) {
  .photo { width: 100%; }
} */
>>>>>>> 3efca6bb5e61bd5a72371394b09bfc44d4f3685c
